*.pyc

.DS_Store

Cargo.lock
constants.rs

/assets/**/result*
/examples/**/result*

/.vscode/settings.json

/.eggs

/dist
/build
/target
/pconvert_rust.egg-info

node_modules/
package-lock.json
