*.pyc

.DS_Store

Cargo.lock
package-lock.json
yarn.lock

generated.rs

/assets/**/result*
/examples/**/result*

/.vscode/settings.json

/.eggs

/dist
/build
/target
/pconvert_rust.egg-info

/node_modules
