body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px 0px 0px 0px;
}

div#header {
    color: #ffffff;
    font-size: 200%;
    font-weight: bold;
    height: 100%;
    margin: 0px 0px 0px 0px;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
    text-align: center;
    width: 100%;
}

div#title {
    background-color: #3330df;
    padding: 10px 10px 10px 10px;
}

div#subtitle {
    background-color: #523dd6;
    font-size: 35%;
    padding: 10px 10px 10px 10px;
}

pre#metadata {
    display: inline-block;
    font-size: 120%;
    margin: auto auto auto auto;
    text-align: left;
}

div#metadataContainer {
    position: absolute;
    text-align: center;
    top: 15%;
}

canvas#composition {
    outline: #000000 3px solid;
    -o-outline: #000000 3px solid;
    -ms-outline: #000000 3px solid;
    -moz-outline: #000000 3px solid;
    -khtml-outline: #000000 3px solid;
    -webkit-outline: #000000 3px solid;
}

textarea#algorithms {
    height: 100%;
    resize: none;
    width: 100%;
}

.flex-grid {
    display: flex;
}

.col {
    flex: 1;
    padding: 1em 1em 1em 1em;
}

.left-container {
    margin-bottom: 10%;
}

.left-container.algorithms {
    height: 55%;
}

select#algorithm,
select#compression,
select#filter {
    margin-bottom: 1em;
    width: 100%;
}
